ablation/layoutxlm/config/wandb_logging.json
ablation/layoutxlm/data/
ablation/layoutxlm/models/

bruteforce/layoutxlm/config/huggingface_logging.json
bruteforce/layoutxlm/config/wandb_logging.json
bruteforce/layoutxlm/data

single/layoutxlm/config/huggingface_logging.json
single/layoutxlm/config/wandb_logging.json
single/layoutxlm/data
single/layoutxlm/models

postprocess/models/*/
!postprocess/models/*.*
