ablation/layoutxlm/config/wandb_logging.json
ablation/layoutxlm/data/
ablation/layoutxlm/models/

bruteforce/layoutxlm/config/huggingface_logging.json
bruteforce/layoutxlm/config/wandb_logging.json
bruteforce/layoutxlm/data

single/layoutxlm/config/huggingface_logging.json
single/layoutxlm/config/wandb_logging.json
single/layoutxlm/data
single/layoutxlm/models
single/donut/dataset_inspection
single/donut/saliencies/files
single/chameleon/data/cached_data

embeddings/donut/results
embeddings/donut/config
embeddings/idefics2/config

postprocess/models/*/
!postprocess/models/*.*

saas/config/secrets.json
saas/config/config.json
saas/output

vanillas/idefics2/files
vanillas/idefics2/log.txt
vanillas/donut/log.txt
vanillas/idefics3/log.txt

vanillas/data

*.pyc

single/idefics2/log.txt

embeddings/idefics2/log.txt
embeddings/idefics2/config/secrets.json